/*---------------------------------- LARGE SCREENS ----------------------------------*/
@media screen and (min-width: 640px) {

    /*----------------------------------  general  ----------------------------------*/
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    body {
        height: 100vh;
        width: auto;
        margin: 0;
        padding: 0;
        font-family: 'proxima-nova', sans-serif;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    }

    .acceuil .competences .diplomes .portfolio .exppro {
        margin-left: 0%;
    }

    input::-moz-focus-inner { 
        border: 0; 
    }

    #nav-icon {
        display: none;
    }

    /*----------------------------------  acceuil  ----------------------------------*/
    .acceuil {
        text-align: center;
        height: 100vh;
        background-color: rgba(2,2,27, 0.8);
    }

    .background {
        background-image: url("./acceuil.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -100;
    }

    .titre {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: none;
    }

    .presentation_main {
        font-size: 80px;
        font-weight: bold;
    }

    .presentation_second {
        font-size: 30px;
        font-weight: 100;
    }

    .presentation {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .myBarmenu {
        position: absolute;
        bottom: 0;
        background-color: #003333;
        z-index: 5;
        width:100%;
        text-align: center;
    }
    /* when scroll down the page put barmenu fixed */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        height: 65px;
    }

    .menubtn {
        background-color: #003333;
        font-size: 17px;
        height: 65px;
        border: none;
        color: #999999;
        padding: 0px 40px 0px 40px;
    }

    .menubtn:hover {
        background-color: #011b11;
        height: 65px;
        border: none;
        color: white;
    }

    .hoveredmenubtn {
        background-color: #011b11;
        height: 65px;
        border: none;
        color: white;
    }

    .menubtn-smart {
        display:none;
    }

    /*----------------------------------  a propos  ----------------------------------*/
    .apropos {
        color: #f0fcf8;
        height: 640px;
        padding-top: 60px;
        background: rgba(20,209,177,1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(20,209,177,1) 0%, rgba(26,161,111,1) 69%, rgba(3,156,97,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(20,209,177,1)), color-stop(69%, rgba(26,161,111,1)), color-stop(100%, rgba(3,156,97,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(20,209,177,1) 0%, rgba(26,161,111,1) 69%, rgba(3,156,97,1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(20,209,177,1) 0%, rgba(26,161,111,1) 69%, rgba(3,156,97,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(20,209,177,1) 0%, rgba(26,161,111,1) 69%, rgba(3,156,97,1) 100%);
        background: radial-gradient(ellipse at center, rgba(20,209,177,1) 0%, rgba(26,161,111,1) 69%, rgba(3,156,97,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14d1b1', endColorstr='#039c61', GradientType=1 );
    }

    .apropos_content {
        display: flex;
        padding-left: 100px;
    }

    .apropos_text {
        width: 40%;
    }

    .apropos_title {
        text-align: center;
        font-size: 60px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .apropos_name {
        color: #fac6e2;
        font-size: 30px;
        font-weight: bolder;
        padding-bottom: 20px; 
    }

    .apropos_text {
        font-size: 20px;
        text-align: justify;
    }

    #dwlink {
        background-color: #b96bd9;
        font-size: 15px;
        color: #f2f2e4;
        text-decoration: none;
        padding: 15px;
        right: 0;
        box-shadow: 1px 1px 2px grey;
    }

    #dwlink:hover {
        opacity: 0.9;
    }

    .apropos_picture {
        background-image: url("./me.jpg");
        background-size: cover;
        border-radius: 150px;
        height: 300px;
        width: 300px;
        margin-top: 0px;
        margin-left: 250px;
    }

    .diplomes_date_lay_smalls {
        display: none;
        visibility: hidden;
    }

    /*----------------------------------  competences  ----------------------------------*/
    .competences {
        height: 580px;
        color: #00c7e6;
        padding-top: 60px;
        background: #f2f2e4;
    }

    .comp_title {
        text-align: center;
        font-size: 60px;
        padding-top: 60px;
    }

    .comp_content_initule {
        text-align: center;
        font-style: italic;
        font-weight: bolder;
        font-size: 25px;
        color: #4f4f4b;
        margin-bottom: 40px;
        margin-top: 50px;
    }

    .comp_layout {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }

    .comp_solo {
        text-align: center;
        font-weight: bolder;
        margin: 10px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        flex-direction: column;
    }

    #myProgress {
        margin-top: 5px;
        width: 200px;
        background-color:#ffe2d3;
        border-radius: 10px;
    }
    
    #myBar1, #myBar2, #myBar3, #myBar4, #myBar5, #myBar6, #myBar7, #myBar8 {
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content: space-around;
        width: 1%;
        height: 30px;
        background-color: #faa87f;
        border-radius: 10px;
        font-size: 15px;
        font-weight: lighter;
        color: gray;
    }

    progress::-moz-progress-bar {
        background: rgba(25,140,102,1);
        background: -moz-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(25,140,102,1)), color-stop(100%, rgba(8,255,123,1)));
        background: -webkit-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: linear-gradient(135deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#198c66', endColorstr='#08ff7b', GradientType=1 );
    }

    #percent {
        display: none;
    }

    /*----------------------------------  experience  ----------------------------------*/
    .exppro {
        color: #18bb78;
        padding-top: 60px;
        background: #f2f2e4;
        height: 580px;
    }

    .exppro_title {
        text-align: center;
        font-size: 60px;
        padding-top: 60px;
        border-top: 2px solid #055447;
        margin: 0px 30px 0px 30px;
    }

    /*----------------------------------  diplomes  ----------------------------------*/
    .diplomes {
        color: #18bb78;
        background: none;
        height: 100vh;
        position: relative;
    }

    #diplomes_bgcolor {
        position: absolute;
        width: 180%;
        height: 120%;
        left:0;
        z-index: -2;
        background: rgb(2,255,15);
        background: radial-gradient(circle, rgba(2,255,15,1) 0%, rgba(0,254,161,1) 45%, rgba(26,251,0,1) 69%, rgba(69,245,255,1) 100%, rgba(28,27,29,1) 100%);
    }

    #diplomes_bgblack {
        position: absolute;
        width: 180%;
        height: 120%;
        left:0;
        bottom: 40px;
        background-color: #1c1b1d;
        z-index: -1;
        border-radius: 100px;
    }

    .diplomes_title {
        text-align: center;
        font-size: 60px;
        padding: 100px 0px 50px 0px;
        margin: 0px 30px 20px 30px;
        z-index: 0;
    }

    .diplomes_content {
        display: flex;
        flex-direction: row;
        margin: 0px 30px 50px 80px;
        border-radius: 30px;
        color:#f2f2e4;
        background: none;
        z-index: 0;

    }

    .diplomes_date {
        border-radius: 1000px;
        height: 110px;
        width: 110px;
        font-size: 17px;
        text-align: center;
        background: rgba(25,140,102,1);
        background: -moz-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(25,140,102,1)), color-stop(100%, rgba(8,255,123,1)));
        background: -webkit-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: linear-gradient(135deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#198c66', endColorstr='#08ff7b', GradientType=1 );
    }

    .diplomes_textblock {
        margin-left: 20px;
    }

    .diplomes_content_title {
        font-weight: bolder;
        font-size: 23px;
    }

    /*----------------------------------  portfolio  ----------------------------------*/
    .portfolio {
        color: #18bb78;
        height: 580px;
        padding-top: 60px;
        background-color: #1c1b1d;
    }

    .portfolio_title {
        text-align: center;
        font-size: 60px;
        padding-top: 30px;
    }

    .portfolio_content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        overflow-x: scroll;
        width: 100%;
        height: 80%;
        background-color: #1c1b1d;
        box-shadow: 0px 0px 5px black;
        margin-left: 5px;
        padding-bottom: 0px;
    }

    .portfolio_project {
        position: relative;
        height: 95%;
        min-width: 400px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: #f2f2e4;
        text-align: center;
        font-weight: bolder;
        overflow: hidden;
        margin: 10px 1px 0px 1px;
    }

    .portfolio_project_img {
        height: 100%;
        width: 100%;
        cursor: pointer;
    }

    .portfolio_project_img:hover {
        opacity: 0.8;
    }

    .portfolio_hidden {
        display: none;
        position: fixed;
        overflow: visible;
        top: 20%;
        left: 0;
        height: 100%;
        width: 99%;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 15px;
        z-index: 8;
    }   

    .portfolio_intitule_title {
        font-size: 25px;
        margin-bottom: 15px;
        padding-left: 20px;
    }

    .portfolio_intitule {
        font-weight: bolder;
        padding-left: 0px;
    }

    .projectbtn {
        display: none;
    }

    .portfolio_verticalay {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
    }

    .portfolio_project_data {
        font-weight: normal;
        padding-left: 10px;
        padding-right: 10px;
    }

    .portfolio_project_show {
        height: 25vh;
        width: 25vw;
        margin: 0px 2px 0px 2px;
        border: solid 1px black;
        z-index: 400;
    }

    .portfolio_project_pics {
        margin: 4vh 0px 1vh 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        row-gap: 4vh;
    }

    /*----------------------------------  contact  ----------------------------------*/
    .contact {
        text-align: center;
        color: #f2f2e4;
        height: 80px;
        font-size: 40px;
        padding-top: 25px;
        background: rgba(25,140,102,1);
        background: -moz-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(25,140,102,1)), color-stop(100%, rgba(8,255,123,1)));
        background: -webkit-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        background: linear-gradient(135deg, rgba(25,140,102,1) 0%, rgba(8,255,123,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#198c66', endColorstr='#08ff7b', GradientType=1 );

    }

    #iconend {
        color: white;
    }

    #iconend:hover {
        color: lightgrey;
    }
}
