@font-face {
    font-family: 'Wedges';
    src: url('./assets/fonts/Wedges.woff2') format('woff2'),
        url('./assets/fonts/Wedges.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
	display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	-webkit-overflow-scrolling: none;
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	font-family: 'Montserrat', sans-serif;
}

html {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
	overflow-x: hidden;
    width: 100vw;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background {
	height: auto;
	overflow-y: visible;
	width: 100vw;
	background-color: white;
	text-align: left;
}

.background svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#blobSvg1 {
	position: absolute;
	top: 100%;
	left: -50%;
	width: 125vw;
	height: 125vh;
	z-index: 0;
}

#blobSvg2 {
	position: absolute;
	top: 130%;
	right: -60%;
	left: auto;
	width: 125%;
	height: 125%;
	z-index: 0;
}

a {
	text-decoration: none;
}

/* NAVBAR */
.navbarTitle {
	font-size: 1.8em;
	letter-spacing: 0.1em;
	opacity: 0;
}

.navbarTitle span {
	font-family: 'Wedges';
}

.navbarTitle .displayAfter {
	display: inline-block;
	opacity: 0;
	font-size: 0em;
}

.navbarTitle .firstLetter, .navbarTitle .lastLetter {
	display: inline-block;
	transition: transform .5s ease-in-out;
}

.navbarTitle .firstLetter {
	transform: translateX(100%);
}

.navbarTitle .lastLetter {
	transform: translateX(-100%);
}

.navbarTitle.appearance .displayAfter {
	animation: navbarTitleAnim 0.4s ease-in-out 0.2s alternate forwards;
}

.navbarTitle.appearance .firstLetter, .navbarTitle.appearance .lastLetter {
	opacity: 1;
	transform: translateX(0);
}

@keyframes navbarTitleAnim {
	0% {
		opacity: 0;
		font-size: 0;
	}
	33% {
		opacity: 0;
		font-size: 0.9em;
	}
	100% {
		opacity: 1;
		font-size: 0.9em;
	}
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 6vh;
	z-index: 999;
	text-align: center;
	overflow: visible;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	overflow: hidden;
}

.navbar button {
	position: relative;
	font-weight: 600;
	letter-spacing: 0.04em;
	cursor: pointer;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
	background: none;
	border: none;
	padding: 0;
	color: white;
}

.navbar button:after {
	content:" ";
	width: 100%;
	height: 1.5px;
	position:absolute;
	background: white;
	background-size: cover;
	background-position: 0% 0%;
	z-index: -2;
	border-radius: 20%;
	left: 0;
	bottom: 0;
	transition: transform 0.5s cubic-bezier(0,.35,.74,.06);
}

.navbar button:not(.underline):after {
	transform: scaleX(0);
	transform-origin: bottom right;
}

.navbar button:hover:after, .underline::after {
	transform: scaleX(0.99);
	transform-origin: top left;
}

.navbar svg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -999;
	transition: opacity 0.4s ease-in-out;
}

.navbar svg:not(.appearance) {
	opacity: 0;
}

.appearance {
	opacity: 1;
}

/* MAIN */

.presentation {
	position: absolute;
	left: 10%;
	top: 15%;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
}
  
.cta {
	position: relative;
	margin: auto;
	padding: 19px 22px;
	transition: all .2s ease; 
	color: white;
	z-index: 10;
}

.cta:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 28px;
	background: rgba(255, 171, 157, 0.5);
	width: 56px;
	height: 56px;
	transition: all .3s ease; 
}

.cta span {
	position: relative;
	font-size: 1em;
	line-height: 18px;
	font-weight: 900;
	letter-spacing: .25em;
	text-transform: uppercase;
	vertical-align: middle; 
}

.cta svg {
	position: relative;
	width: 0.9em;
	top: 0;
	margin-left: 1em;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #fff;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all .3s ease; 
}

.cta:hover:before {
	width: 100%;
	background: #ffab9d; 
}
.cta:hover svg {
	transform: translateX(0); 
}

.cta.animate:before {
	animation: blink 1s ease-in-out forwards alternate;
}

@keyframes blink {
	0% {
	  opacity: 0%;
	}
	50% {
		opacity: 100%;
	}
	100% {
		opacity: 0%;
	}
  }


.presentation a i {
	margin-right: 15px;
}
  
.title {
	font-size: 5.5em;
	letter-spacing: 0.1em;
	font-family: 'Wedges';
	margin-top: 3%;
}

.titleAlt {
	font-size: 1.2em;
	letter-spacing: 0.3em;
	font-weight: 300;
}

.homePic {
	position: absolute;
	top: 20%;
	right: 10%;
	width: 25vw;
	border-radius: 23% 77% 55% 45% / 22% 31% 69% 78%;
	animation: wobble 25s ease-in-out alternate infinite;
	z-index: 10;
	box-shadow: rgba(255, 94, 98, 0.4) 10px 10px;
}

@keyframes wobble {
	50% {
		border-radius: 66% 34% 23% 77% / 63% 77% 23% 37%;
	}
	100% {
		border-radius: 29% 71% 75% 25% / 77% 47% 53% 23%;
	}
}

/* ABOUT */

.about {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.about img {
	width: 30%;
	height: 30%;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border-radius: 0.5%;
}

.intro {
	font-size: 2.1em;
	letter-spacing: 0.1em;
	color: black;
	font-weight: 600;
}

.bubble {
	color: black;	
	font-size: 0.9em;
	font-weight: 400;
	text-align: left;
	border-radius: 1%;
	width: auto;
	line-height: 200%;
	margin-bottom: 2em;
}

.info {
	font-size: 0.7em;
	background-color: #ebebeb;
	border-radius: 2%;
	padding: 0.8em;
	color: black;
	margin-right: 2px;
	transition: .3s ease-in-out;
}

.info:hover {
	box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.aboutBtn {
	position: relative;
	font-size: 0.8em;
	color: white;
	text-decoration: none;
	background: linear-gradient(to right, #ff9966, #ff5e62);
	width: 25%;
	border-radius: 6%;
	padding: 16px 20px;
	text-align: center;
	width: auto;
	margin-right: 4em;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	z-index: 10;
	overflow: hidden;
}

.bubbly-button {
	display: inline-block;
	font-size: 1em;
	padding: 1em 2em;
	margin-right: 2em;
	-webkit-appearance: none;
	appearance: none;
	background: linear-gradient(to right, #ff9966, #ff5e62);
	color: #fff;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	position: relative;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
	overflow: visible;
}
.bubbly-button:focus {
	outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -10;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}
.bubbly-button:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff9966 20%, transparent 30%), radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff9966 15%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff9966 15%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%), radial-gradient(circle, #ff9966 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
	transform: scale(0.9);
	background-color: #e60074;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
	0% {
	background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
	}
	50% {
	background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}
	100% {
	background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
	background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}
@keyframes bottomBubbles {
	0% {
	background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
	}
	50% {
	background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
	}
	100% {
	background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
	background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
	}
}
  

.aboutBtn::after {
	content: " ";
	position: absolute;
	left: -200%;
	top: 0;
	height: 100%;
	width: 200%;
	z-index: 10;
	background: linear-gradient(transparent, rgba(255,255,255,.1), transparent);
	transform: rotate(-45deg);
	transition: 0.5s;
}

.aboutBtn:hover::after {
	left: 100%;
	top: 100%
}

.about i {
	margin-right: 0.5em;
}

/* SKILLS */
.skillsSection {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 95vw;
	justify-content: space-around;
	align-items: center;
}

.wrapper-card, .wrapper-card-reversed {
	position: relative;
	height: 70%;
	width: 23%;
	z-index: 10;
}

.wrapper-card-down {
	margin-top: 5%;
}

.wrapper-card::before, .wrapper-card::after, .wrapper-card-reversed::before, .wrapper-card-reversed::after {
	content: "";
	width: 98%;
	height: 98%;
	position: absolute;
	z-index: -1;
	transition: all 0.25s ease-out;
}

.wrapper-card::before, .wrapper-card-reversed::after {
	border: 2px solid #ff5e62;
}

.wrapper-card::after, .wrapper-card-reversed::before {
	background: linear-gradient(to right, #ff9966, #ff5e62);
}

.wrapper-card::before, .wrapper-card-reversed::before {
	top: 0;
	left: 0;
}
.wrapper-card::after, .wrapper-card-reversed::after {
	bottom: 0;
	right: 0;
}
.wrapper-card:hover::before, .wrapper-card-reversed:hover::before {
	top: 1em;
	left: 1em;
}
.wrapper-card:hover::after, .wrapper-card-reversed:hover::after {
	bottom: 1em;
	right: 1em;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	height: 100%;
	width: 100%;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	z-index: 10;
	background-color: white;
}

.card i {
	margin-top: 30%;
}

.card .description {
	text-align: center;
	margin: 1em 1em;
	color: #6e6b6b;
	height: 20%;
}

.card .languages {
	height: auto;
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card .language {
	margin-left: 1em;
	padding: 0.5em 0.8em;
	margin: 4px 4px;
	color: #ff5e62;
	position:relative;
	z-index: 999;
	transition: all 0.8s ease-in-out;
	overflow: hidden;
	font-size: 0.8em;
}

.card .language:before {
	content:" ";
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: auto;
	width: auto;
	position: absolute;
	background: linear-gradient(to right, #ff9966, #ff5e62);
	background-size: cover;
	z-index: -10;
	animation: gradient 5s alternate infinite;
	background-size: 200% 200%;
	border-radius: 0.2%;
}

.card .language:after {
	content:" ";
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	position:absolute;
	background: white;
	height: auto;
	width: auto;
	z-index: -2;
	border-radius: 0.2%;
	transition: transform 0.5s cubic-bezier(0,.35,.74,.06);
	transform: scaleX(1);
	transform-origin: center left;
}

.card .language:hover {
	color: white;
}

.card .language:hover:after {
	transform-origin: center right;
	transform: scaleX(0);
}

/* PROJECTS */
.workSection {
	width: 95%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.column {
	height: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	margin-bottom: 15px;
}

.project {
	width: 98%;
	height: auto;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 1.5em;
	transition: .5s;
	overflow: hidden;
	background-color: #000;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.project:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	opacity: 0;
	background-color: #fff;
}

.project .content {
	font-size: 0.7em;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.16);
	width: 100%;
	bottom: -100%;
	transition: .5s ease-in-out;
}

.project:hover .content {
	bottom: 0%;
}

.project .desc {
	text-align: left;
	padding: 0.5em 1em 10% 1em;
}

.project .role {
	padding: 1em 0em;
	font-size: 0.6em;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.16);
	width: 30%;
	top: -30%;
	left: 0;
	transition: .5s ease-in-out;
}

.project:hover .role {
	top: 0%;
}

.project .intitule {
	position: absolute;
	width: 100%;
	opacity: 1;
	transition: 0.2s ease-in-out;
}

.project:hover .intitule {
	opacity: 0;
}

.project img {
	width: 100%;
	opacity: 0.6;
	filter: blur(2px) grayscale(40%);
	transition: 0.2s ease-in-out;
	background-color: #3d5875;
}

.project:hover img {
	opacity: 1;
}

.project .tags {
	position: absolute;
	top: -30%;
	right: 0;
	transition: .5s ease-in-out;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.project:hover .tags {
	top: 0%;
}

.project .tag {
	font-size: 0.65em;
	padding: 4px;
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.25);
	margin-right: 3px;
	transition: .5s
}

.project .tag:hover {
	background-color: white;
	color:rgba(0, 0, 0, 0.7);
}

.project .technos {
	transition: .5s ease-in-out;
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.project:hover .technos {
	top: 0%;
}

.project .techno {
	font-size: 0.8em;
	padding: 4px;
	border: 1px solid white;
	margin-right: 3px;
	transition: .5s
}

.project .techno:hover {
	background-color: white;
	color:rgba(0, 0, 0, 0.7);
}

.project i {
	margin: 0 5px;
}

.project .duration, .project .people {
	font-size: 0.8em;
}

/* BOTTOM STYLE */
.waves {
	margin-top: 30vh;
	width: 100%;
	height:10vh;
	min-height:100px;
	max-height:150px;
}

.waves > g > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)	infinite;
}
.waves > g > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 21s;
}
.waves > g > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 30s;
}
.waves > g > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 39s;
}
.waves > g > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 60s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px,0,0);
	}
	100% { 
		transform: translate3d(85px,0,0);
	}
}


/* RESPONSIVE DESIGN */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.navbar {
		height: 3vh;
	}

	.navbar button {
		font-size: 1.3em;
	}

	.navbar button:after {
		height: 1px;
	}

	.cta:before {
		width: 50%;
		height: 100%;
	}

	.about {
		font-size: 1.5em;
	}

	.skillsSection {
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	.wrapper-card, .wrapper-card-reversed {
		height: auto;
		width: 80vw;
		margin-bottom: 2%;
	}

	.wrapper-card-down {
		margin-top: 0%;
	}

	.card {
		font-size: 3em;
	}

	.workSection {
		flex-direction: column;
	}

	.project {
		font-size: 5em;
	}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation: portrait) {
	.presentation {
		position: absolute;
		top: 25%;
		left: 50%;
   		transform: translate(-50%, 0);
	}
	
	.homePic {
		position: absolute;
		top: 10%;
		left: 50%;
   		transform: translate(-50%, 0);
		width: 25vw;
	}
}